.header-foto {
    // background: url(Union.png) no-repeat;
    margin: 60px 0 60px 0;
    display: flex;
    justify-content: space-between;
    .h3{
        width: 40%;

        a{
            color: rgb(164, 164, 164);
            text-decoration: none;
            border-bottom: 2px solid rgb(227, 255, 206);
        }
        a:hover{
            color: rgb(202, 255, 159);
        }
    }

    img {
        max-width: 80%;
    }
    #toch{
        // position: absolute;
        padding: 50px 20px 40px 0;
    }

    .svg{
        background: url(sv.svg) no-repeat;
        width: 360px;
        height: 360px;
        padding: 15px;
        position: relative;
        top: -50px;
        left: 20px;
        p{
            width: 330px;
        }
    }
    
    
}