.header-foto {
    // background: url(Union.png) no-repeat;
    margin: 60px 0 60px 0;
    display: flex;
    justify-content: space-between;

    .h3 {
        width: 40%;

        a {
            color: rgb(164, 164, 164);
            text-decoration: none;
            border-bottom: 2px solid rgb(227, 255, 206);
        }

        a:hover {
            color: rgb(202, 255, 159);
        }
    }

    #foto {
        width: 900px;
    }

    #toch {
        max-width: 80%;
        // position: absolute;
        padding: 50px 20px 40px 0;
    }

    .svg {
        background: url(sv.svg) no-repeat;
        width: 360px;
        height: 360px;
        padding: 15px;
        position: relative;
        top: -50px;
        left: 20px;

        p {
            width: 330px;
        }
    }
}

.fresh_block {
    .fresh {
        h1 {
            justify-content: center;
            text-align: center;
        }
    }

    .fresh_products {
        display: grid;
        grid-template-columns: repeat(5, 2fr);
        
        .f{
            padding: 5px;
        }
        .f:hover{
            background-color: rgba(78, 103, 103, 0.123);
        }

        div {
            margin: 20px;
            width: 200px;
            // height: 450px;  

            img {
                max-width: 100%;
                border-radius: 10px 10px 0 0;
            }
        }
    }
}

.category {
    .categ {
        display: flex;
        width: 1240px;
        overflow: hidden;

        .categories {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 10px;
            height: 250px;
            background-color: rgba(128, 128, 128, 0.505);
            transition: 0.3s ease-in-out;
            width: 200px;
            color: aliceblue;
        }
        .categories:hover{
            padding: 10px;
        }
        .fruits{
            background: url(category_photos/fruits.png) center;
        }
        .drinks{
            background: url(category_photos/drinks.png) center;
        }
        a{
            text-decoration: none;
        }
    }
}