.footer-wrapper {
    margin-top: 100px;

    .footer {
        background: rgb(0, 0, 0);
        margin: -30px;
        padding: 20px;

        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
            a{
                text-decoration: none;
                color: rgb(168, 168, 168);
            }
            a:hover{
                color: aliceblue;
                // border-bottom: 1px solid aliceblue;
                transition: 0.2s ease-in;
                
            }
        }
        .br{
            border: 1px solid rgb(86, 86, 86);
        }
    }
}