.login-page {
    background: rgb(212 204 204 / 10%);
    box-shadow: 0 0 10px black;
    margin: 100px 50px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    align-items: center;

    form {
        display: contents;

        a {
            color: aliceblue;
            text-decoration: none;
            margin: 5px;

        }

        a:hover {
            color: rgb(219, 158, 84);
            // border-bottom: 1px solid rgb(219,158,84);
        }

        input {
            margin: 20px;
            width: 230px;
            height: 30px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;
        }

        .button {
            width: 240px;
            height: 35px;
            background: rgb(0, 121, 235);
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;
            color: aliceblue;
            margin: 10px;
            border: none;
        }

        .button:hover {
            background-color: rgb(0, 121, 190);
        }

    }
}