body {
  margin: 0;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  background: linear-gradient(321deg, rgba(0, 0, 0, 1) 0%, rgba(6, 41, 64, 1) 62%, rgba(26, 147, 171, 1) 100%);
  background-repeat: no-repeat ;
  padding: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 100vh;
  color: white;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
